body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    gap: 20px;
    width: 100vw;
    height: 7vh;
    align-items: center;
    padding-left: 30px;
    background-color: black;


}

.navbar a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    text-decoration: underline 1px;
}